// blog post
.single-post-meta,
.single-post-similer {
  margin-top: 70px;
}

.single-post-author {
  margin-top: 100px;
}

.post-meta-tags {
  a {
    display: inline-block;
    background-color: #f7f8fa;
    color: $dark;
    padding: 6px 13px;
    font-weight: 700;
    font-size: 15px;
    @extend .rounded;

    &:hover {
      background-color: transparent;
      color: $color-primary;
    }
  }
}