<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>
  <meta name="author" content="{{ site.Params.author }}">
  <meta name="description" content="{{ with .Params.description }} {{.}} {{else}} {{ with site.Params.description }} {{.}} {{end}} {{end}}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <meta name="theme-name" content="bookworm-light" />
  <meta property="fb:app_id" content="691003646569374" />
  {{ partialCached "favicon" . }}
  {{ partialCached "style.html" . }} 
</head>
