{{define "main"}}

<section class="section-sm">
  <div class="container">
    <div class="row no-gutters justify-content-center">
      <div class="col-lg-10">
        <div class="row">
          {{ $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
          {{range $index, $items := $paginator.Pages}}
          <div class="{{ if (eq $index 0) }}col-lg-12{{ else }}col-lg-6{{ end }}">
            {{ .Scratch.Set "index" $index }}
            {{.Render "post"}}
          </div>
          {{end}}
        </div>

        <div class="row">
          <div class="col-12">
            <nav class="mt-4">
              {{"<!-- pagination -->" | safeHTML }}
              {{ $paginator := .Paginator }}
              <!-- Number of links either side of the current page. -->
              {{ $adjacent_links := 2 }}
              <!-- $max_links = ($adjacent_links * 2) + 1 -->
              {{ $max_links := (add (mul $adjacent_links 2) 1) }}
              <!-- $lower_limit = $adjacent_links + 1 -->
              {{ $lower_limit := (add $adjacent_links 1) }}
              <!-- $upper_limit = $paginator.TotalPages - $adjacent_links -->
              {{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}
              <!-- If there's more than one page. -->
              {{ if gt $paginator.TotalPages 1 }}
              <nav class="mb-md-50">
                <ul class="pagination justify-content-center">
                  <!-- Previous page. -->
                  {{ if $paginator.HasPrev }}
                  <li class="page-item"><a class="page-link rounded" href="{{ $paginator.Prev.URL }}" aria-label="Pagination Arrow">
                    <i>
                      <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
                    </i>
                  </a></li>
                  {{ end }}
                  <!-- Page numbers. -->
                  {{ range $paginator.Pagers }}
                  {{ $.Scratch.Set "page_number_flag" false }}
                  <!-- Advanced page numbers. -->
                  {{ if gt $paginator.TotalPages $max_links }}
                  <!-- Lower limit pages. -->
                  <!-- If the user is on a page which is in the lower limit.  -->
                  {{ if le $paginator.PageNumber $lower_limit }}
                  <!-- If the current loop page is less than max_links. -->
                  {{ if le .PageNumber $max_links }}
                  {{ $.Scratch.Set "page_number_flag" true }}
                  {{ end }}
                  <!-- Upper limit pages. -->
                  <!-- If the user is on a page which is in the upper limit. -->
                  {{ else if ge $paginator.PageNumber $upper_limit }}
                  <!-- If the current loop page is greater than total pages minus $max_links -->
                  {{ if gt .PageNumber (sub $paginator.TotalPages $max_links) }}
                  {{ $.Scratch.Set "page_number_flag" true }}
                  {{ end }}
                  <!-- Middle pages. -->
                  {{ else }}
                  {{ if and ( ge .PageNumber (sub $paginator.PageNumber $adjacent_links) ) ( le .PageNumber (add $paginator.PageNumber $adjacent_links) ) }}
                  {{ $.Scratch.Set "page_number_flag" true }}
                  {{ end }}
                  {{ end }}
                  <!-- Simple page numbers. -->
                  {{ else }}
                  {{ $.Scratch.Set "page_number_flag" true }}
                  {{ end }}
                  <!-- Output page numbers. -->
                  {{ if eq ($.Scratch.Get "page_number_flag") true }}
                  <li class="page-item{{ if eq . $paginator }} active {{ end }}">
                    <a href="{{ .URL }}" class="page-link rounded">
                      {{ .PageNumber }}
                    </a>
                  </li>
                  {{ end }}
                  {{ end }}
                  <!-- Next page. -->
                  {{ if $paginator.HasNext }}
                  <li class="page-item"><a class="page-link rounded" href="{{ $paginator.Next.URL }}" aria-label="Pagination Arrow">
                    <i><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg></i>
                  </a></li>
                  {{ end }}
                </ul>
              </nav>
              {{ end }}
            </nav>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{{end}}